#! /bin/bash

virsh net-dhcp-leases default | grep ipv4 | sort -r -k1 -k2 | awk '{ print $6, $5; }' | cut -d '/' -f1 | sort -k1,1 -u | awk '{ print $2, $1; }' | grep 'k8s\|jump' > dhcp_leases.txt

cat > ansible_inventory.txt << EOF
localhost ansible_user={{ remote_user }} ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_ssh_private_key_file='/home/{{ remote_user }}/.ssh/{{ remote_user_key }}' ansible_sudo_pass='12qwaszx'

[jump_nodes]
[k8s_master_nodes]
[k8s_worker_nodes]
[kvm]
localhost ansible_user={{ remote_user }} ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_ssh_private_key_file='{{ remote_user_home }}/{{ remote_user_key }}' ansible_sudo_pass='12qwaszx'
EOF

cat dhcp_leases.txt | grep jump | awk '{host=$2;host_ip=$1;system("sed -i \"/\\[jump_nodes\\]/a "host" \
ansible_ssh_host="host_ip" \
ansible_user=ansible \
ansible_ssh_private_key_file=/home/{{ remote_user }}/.ssh/{{ remote_user_key }} \
ansible_ssh_common_args=\\\"-o StrictHostKeyChecking=no\\\" \
\" ansible_inventory.txt  ")}'

cat dhcp_leases.txt | grep master | awk '{host=$2;host_ip=$1;system("sed -i \"/\\[k8s_master_nodes\\]/a "host" \
ansible_ssh_host="host_ip" \
ansible_user=ansible \
ansible_ssh_private_key_file=/home/{{ remote_user }}/.ssh/{{ remote_user_key }} \
ansible_ssh_common_args=\\\"-o StrictHostKeyChecking=no\\\" \
\" ansible_inventory.txt  ")}'

cat dhcp_leases.txt | grep worker | awk '{host=$2;host_ip=$1;system("sed -i \"/\\[k8s_worker_nodes\\]/a "host" \
ansible_ssh_host="host_ip" \
ansible_user=ansible \
ansible_ssh_private_key_file=/home/{{ remote_user }}/.ssh/{{ remote_user_key }} \
ansible_ssh_common_args=\\\"-o StrictHostKeyChecking=no\\\" \
\" ansible_inventory.txt  ")}'

exit 0